.title{
  font-size: 50pt;
  position:absolute;
  z-index:3;
  margin-left:60%;
  margin-top:6%;
  font-family:'Roboto',sans-serif;
}

.map{
  width:100%;
  position:absolute;


}

.base{
  width:80%;
  margin-left: 10%;
  margin-right:10%;
  margin-top:2%;
  position:absolute;
  z-index:0;
}

.hall{
  width:25%;
  position:absolute;
  z-index:3;
  margin-top: 4%;
  margin-left:16%;
}

.store{
  position:absolute;
  z-index:3;
  width:22%;
  margin-left: 62%;
  margin-top:40%;
}

.box-1{
  position:absolute;
  margin-left: 200pt;
  margin-top:100pt;
  z-index:4;
}
