.container{
  background-color:rgb(25, 25, 35);
  padding:10px;
  position:absolute;
}

.title{
  color:rgb(30,40,64);
  font-size:80pt;
  font-family:'Ubuntu',sans-serif;
  top:10px;
  left:10px;

}

.door{
  background-color:white;
  width:120pt;
  height:200pt;

  z-index:5;
}

.text{
  color:white;
  font-size:10pt;
  width:30%;

}
