img{
  /* width:75%; */
}
body{
  background-color: rgb(172, 177, 176,70%);
}
.disc{
  width:75%;
}

.side-1{
  width:25%;
  height:590pt;
  background-color:rgb(239,235,229);
  position:relative;
  float:right;
  display:inline-flex;
}

.title{
  font-size: 60pt;
  padding:5pt;
  font-style:bold;
  font-family:'EG Garamond', serif;
  letter-spacing: 1pt;
}

.theme{
  font-size: 50pt;
  color:rgb(230, 175, 20,80%);
  padding:5pt;
  font-style:bold;
  font-family:'EG Garamond', serif;
  letter-spacing: 1pt;

}

/* .map{
width:80%;
display:inline-flex;
} */

.base{
  position:absolute;
  top:15%;
  left:3%;

}

.hall{
  /* width:30%; */
  position:absolute;
  top:17.5%;
  left:8%;

}

.store{
  /* width:25%; */
  position:absolute;
  left:45%;
  top:69%;
}

.name{
  color:white;
  font-size: 20pt;
  z-index:4;
  position:absolute;
}

.wall{
  width:50%;
}

.statue{
  /* width:8%; */
  position:absolute;
  left:42%;
  top:48%;
}

.poster{
  width:10%;
  position:absolute;
  left:50%;
  top:35%;
}

/* .back{
  position:absolute;
  font-size: 50pt;
  background-color:rgb(230, 175, 20,80%);
  color:white;
  padding:5pt;
  font-style:bold;
  font-family:'PT Sans Caption', sans-serif;
  letter-spacing: 1pt;
  left:85%;
  top:80%;
} */

/* .home{
  position:absolute;
  font-size: 50pt;
  color:rgb(230, 175, 20,80%);
  background-color:white;
  padding:5pt;
  font-style:bold;
  font-family:'PT Sans Caption', sans-serif;
  letter-spacing: 1pt;
  left:85%;
  top:65%;
} */

.shelf{
  width:80%;
  position:absolute;
  top:10%;
  left:5%;
}

.catalog{
  /* width:15%; */
  position:absolute;
  top:18.5%;
  left:15%;
}

.book{
  /* width:15%; */
  position:absolute;
  top:45%;
  left:30%;
}

/* a:link{
    animation-name:pulse;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}

@keyframes pulse{
  from{transform:translateY(0%);}
    to{transform:translateY(10%);}}
} */
