body{
  background-color: rgba(202, 209, 199);
}



.title{
  margin-top:30pt;
  font-family: 'PT', sans-serif;
  font-size:45pt;

}

.container-1{
  width:40%;
  display:inline-flex;
  line-height: 20pt;
  padding:10pt;
  margin-left:20pt;
}
